/**
 * CSS PARA EL COMPONENTE HORARIO
 */

/*cabecera*/
.cabecera {
    display: flex;
    flex-direction: row;
    margin: auto auto auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*Alert info*/
.alertInfo {
    display: block;
    margin: 40px auto auto;
    width: 80%;
}

/*Card*/
.fondoCard {
    display: block;
    margin: 40px auto auto;
    width: 80%;
    border: 1px solid #b8b894;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 4px 5px 4px -3px rgba(97,97,97,1);
}
.contenidoCard {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: start; /*Horizontal*/
    align-items: stretch; /*Vertical*/
    flex-wrap: wrap;
}

.asignaturas {
    display: flex;
    flex-direction: row;
    justify-content: start; /*Horizontal*/
    align-items: start; /*Vertical*/
    flex-wrap: wrap;
}


/* Tabla de horario*/
.timetable {
    margin: 20px auto auto;
    display: block;
    width: 90%;
    border: 1px solid #b8b894;
    border-radius: 8px;
    box-shadow: 4px 5px 4px -3px rgba(97,97,97,1);
    border-collapse: collapse;

}

.timetable tr {
    /*border-bottom: 1px solid #b8b894;*/

}

.timetable td {
    width: 5%;
    text-align: center;
    padding:0px;
}

.timetable thead {
    color: #313b47;
    background-color: #d7dfe8;
    border: 2px solid  #313b47;
    border-right: 2px solid gray;
    border-radius: 8px;
}
.timetable thead td {
    border-left: 2px solid black;
}
.timetable .columnaHoras {
    color: #313b47;
    min-width: 100px;
    background-color: #d7dfe8;
    border-left: 2px solid #313b47;
    border-right: 2px solid #313b47;
    border-bottom: 1px solid #313b47;

}

.timetable .celdaSinClase {
    border-right: 1px solid #b8b894;
    border-bottom: 1px solid #b8b894;

}


.timetable .claseDuracionMediaHora {
    border: 2px solid #b8b894;
}

.timetable .clasePosicionInicio {
    border-top: 2px solid #b8b894;
    border-left: 2px solid #b8b894;
    border-right: 2px solid #b8b894;
}

.timetable .clasePosicionMedio{
    border-left: 2px solid #b8b894;
    border-right: 2px solid #b8b894;
}

.timetable .clasePosicionFin {
    border-bottom: 2px solid #b8b894;
    border-left: 2px solid #b8b894;
    border-right: 2px solid #b8b894;
}

#addButton {
    margin: 20px auto auto;
    width: 50%;
    padding: 10px;
    font-weight: bold;
}

#delButton {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Drag and drop*/
.asignatura {
    background-color: #d7dfe8;
    padding: 10px;
    cursor: move;
    border: 1px solid #666;
    border-radius: 8px;
    margin-right: 5px;
}

.objectOver {
    border: 3px dotted #666;
}
