/**
 * CSS PARA EL COMPONENTE PANTALLA HORARIOS
 */
.navBar {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.einaImg{
    height: 100px;
    width: 350px;
}


@media only screen and (max-width: 600px) {
    .menuHorarios {
        width: 50%;
        margin:auto;
    }
}
