/**
 * CSS PARA EL COMPONENTE CALENDARIO
 */

/* PDF */
.divToPrint{
    width: 280mm;
    height: 500mm;
}

.pdfHeader{
    display: flex;
    margin-left: 17.5%;
}

.pdfHeader p {
    font-size: small;
    margin-left: 50px;
    color: dimgrey;
}


/* CALENDARIO */
.calendario {
    display:flex; /* rows and columns style */
    flex-direction:column;
    justify-content:center; /* Horizontal alignment */
    align-items: stretch; /* vertical alignment */
    flex-wrap:wrap;
    margin-left: 150px;
    margin-right: 20px;
}


.tablaSemestre
{
    font-size: small;
    overflow:hidden;
}

.tablaSemestre td
{
    text-align: center;
    vertical-align: middle;
}

td.festivo {
    background-color: #a2f29f;
}

td.convocatoria {
    background-color: #d675bd;
}

td.horarioCambiado {
    background-color: #e1f16d;
}

.descripcionSemanal {
    margin-left:10px;
    width:400px;
    border:2px inset #EBE9ED;
}

.descripcionHorariosCambiados {
    display:flex; /* rows and columns style */
    flex-direction:row;
    justify-content:start; /* Horizontal alignment */
    align-items: center; /* vertical alignment */
    flex-wrap:wrap;
    margin-left: 20px;
}
.listaHorariosCambiados {
    margin-left:20px;
    line-height: 50%;
    background-color:#e1f16d;
}

/*LEYENDA*/
.leyendaIcono {
    height: 25px;
    width: 30px;
    border: 0.1px solid rgb(0, 0, 0);
}

.textoLeyenda{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 80%;
    font-style: italic;
}