@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr { 
  display: block;
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 35px;
  margin-right: 35px;
  border-style: solid;
  border-width: 1px;
}

.logoCab{
  margin-top: 15px;
  margin-right: 700px;
  height: 100px;
  width: 350px;

}

.logoCab2{
  margin-top: 15px;
  margin-left: 115px;
  height: 100px;
  width: 350px;

}

.logoCab2:hover{
  transform: scale(1.05);
}

.texto1{
  font-style: italic;
  margin-bottom: 50px;
}

.datepicker {
  margin-left: 50px;
  padding-left: 50px;
}

.titulo {
  font-weight: bold;
}


.filtro{

}

.filtro2{
  margin-left: 10%;
}

.filtro3{
  margin-top: 7px; 
}

.filtro4{
  margin-top: 7px; 
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


.inicio{
  position: absolute;
  left:25%;
  top:30%;
  width:310px;
  text-align: center;
}

.inicio:hover{
  transform: scale(1.1);
}

.aux{
  margin-right: 100px;
  margin-left: 100px;
}

.inicio2{
  left:25%;
  top:30%;
  margin-top: 140px;

}

.inicio2:hover{
  transform: scale(1.1);
}

.inicio3:hover{
  transform: scale(1.1);
}

.inicioAux{
  margin-top: 15px;
}

.inicioAux:hover{
  transform: scale(1.1);
}

.inicioAux2{
  margin-left: 35px;
}

button {
  margin-left: 15px;
   margin-top: 5px;
}


.button2 {
  margin-left: 15px;
  margin-top: 5px;
}

.imagenLogos{
  width: 100px;
  height: 100px;
}

#textoImg{
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 200%;
  font-weight: bold;
}

.divToPrint{
  position: absolute;
  left: 30%;
}
.pdfHeader{
  display: flex;
}
.pdfBody {
  position: absolute;
  left: 50%;
}
.pdfHeader p {
  margin-left: 50px;
  color: dimgrey;
  padding: 14px;
}
.printButton {
  position: absolute;
  left: 45%;
  top:80%
}
