@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');



#buttongroup {
    padding : 0px;
    float: left;
    border-radius: 0%;
    align-items: center;
    background-color: transparent;
    border: 0px;

}

#buttonselect {
    width: 100%;
    margin: 0px;
    display: block;
    text-align: center;

}

.selected {
    background-color: rgb(126, 124, 124) ;
}

#import-box {
    border: 1px solid black;
    border-radius: 3%;
    float:left;
    margin-left: 10%;
    text-align: center;
    padding: 5%;
}

#importarbutton {
    margin-left: 25px;
}
